body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.columns {
    display: grid;
    grid-auto-flow: row;
}


@media (min-width: 55em) {
    .columns {
        grid-auto-flow: column;
    }
}