body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #5176a6;
    margin: 0px;
    padding: 0px;
}

.logo {
    text-align: center;
    color: mintcream;
}

.columns {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    margin: 1px;
    padding: 1px;
}

.columns1 {
    background-color: aliceblue;   
    color: black; 
    margin: 1px;
    padding: 1px;
}

.columns2 {
    background-color: bisque;
    color: crimson;
    margin: 1px;
    padding: 1px;
}

.columns3 {
    background-color: cadetblue;
    color: darkred;
    margin: 1px;
    padding: 1px;
}

.columns4 {
    background-color: crimson;
    color: honeydew;
    margin: 1px;
    padding: 1px;
}

.columns5 {
   background-color: floralwhite;
   color: midnightblue;
   margin: 1px;
   padding: 1px;
}

.picture {
    text-align: center;
    color: oldlace;
}

@media (min-width: 55em) {
    .columns {
        grid-auto-flow: column;
    }
}